li {
    display: inline-block;
    margin: 10px;
    background: rgb(99, 124, 192);
    padding: 8px;
    border-radius: 7%;
}
.container{
    display: flex;
}
.admin{
    margin-left: 50px;
    margin-top: 200px;
}
.admin *{
    margin: 10px;
}
.hide{
    visibility: hidden
}